/* @import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap'); */
/* @import '../../styles/custom_variables'; */
.ResetPasswordFrame {
  margin: 0 auto;
  background: #f4eee8;
  border: 10px solid #ffffff;
  border-radius: 20px;
  max-width: 1300px;
  margin-top: 58px;
  margin-bottom: 90px;
  /* box-shadow: 5px 5px 5px 5px #5f5c51; */
}
.border {
  border-radius: 20px solid #ffffff !important;
  border: transparent !important;
}
.ResetPasswordForm {
  margin-top: 67px;
  position: relative;
  max-width: auto;
}
.ResetPasswordTitle {
   font-family: 'Noto Sans TC', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.2em;
  color: #5f5c51;
  margin-top: 72px;
}
.LoginPic {
  width: 610px;
  height: 611px;
  margin-right: 141px;
  margin-top: 55px;
  margin-bottom: 65.74px;
}
.ResetPasswordInput {
  margin-top: 75px;
  width: 352px;
  height: 57.72px;
  border: 2px solid #5f5c51;
  border-radius: 10px;
  padding: 0.75rem;
  background: #f4eee8;
}
.ResetPasswordInputSecond {
  margin-top: 8.28px;
  width: 352px;
  height: 57.72px;
  border: 2px solid #5f5c51;
  border-radius: 10px;
  margin-bottom: 18px;
  background: #f4eee8;
  padding: 0.75rem;
}
input::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.1em;
  padding-left: 0.1em;
  color: #5f5c51;
}
.ResetPasswordSubmit {
  margin-top:61px;
  width: 352px;
  height: 57.72px;
  background: #e77656;
  border-radius: 10px;
  border: #e77656;
  color: #ffffff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 23px;
  letter-spacing: 0.3em;
}
.iconEyeOne{
  position:relative;
  color: #5f5c51;
  top: -40px;
  left: 300px;
}

@media screen and (max-width: 576px) {
  .LoginPic {
    display: none;
  }
  .ResetPasswordFrame {
    width: 456px;
  }
  .ResetPasswordForm {
    margin-top: 0px;
    padding-top: 0px;
  }
  .ResetPasswordTitle {
    margin-top: 47px;
    font-size: 24px;
    font-family: 'Roboto';
    font-weight: 400;
  }
  .ResetPasswordInput {
    margin-top: 41px;
  }
  .ResetPasswordInputSecond {
    margin-top: 25px;
  }
  .ResetPasswordSubmit {
    margin-top: 25px;
    margin-bottom: 52.24px;
  }
}
