@import '../../../styles/custom_variables';

.ProductCartInfo{
    &_inputBox{
        color: $gray-darker;
        padding-left: 3rem;

    }
    &_inputBox{
        color: $gray-darker;
        padding-left: 3rem;

    }
    &_inputTitle{
        font-weight: 900;

    }
    &_input{
        margin-left: 8rem;
        width: 60%;

        .form-control{
            height:70px;
            border: none;
            border-bottom: 1px solid $gray-dark;
            color:$gray-dark;
        }
    }
    &_inputNotic{
        padding-left: 12px;
        font-size: .8rem;
        letter-spacing: .05rem;
    }
    &_deliveryBox{
        width: 71%;
    }
    &_radioStyle{
        display: none;


        &:checked + .ProductCartInfo_radioStyleLabel{
            background-color: $primary;
            border: 2px solid $primary;
        }
    }

    &_radioStyleLabel{
        vertical-align: middle;
        margin: 2px 7px 1px 5px;
        position: relative;
        display: inline-block;
        width: 17px;
        height: 17px;
        border: 1.5px solid #878787;
        border-radius: 4px;
        transition: background-color .1s ease-in;
        -moz-transition: background-color .1s ease-in;
        -webkit-transition: background-color .1s ease-in;
        -o-transition: background-color .1s ease-in;

        &::after,&::before{
            content: '';
            position: absolute;
            width: 2px;
            background-color: $white;
            transition: opacity .1s ease-in;
            -moz-transition: opacity .1s ease-in;
            -webkit-transition: opacity .1s ease-in;
            -o-transition: opacity .1s ease-in;
            opacity: 0;
        }
        &::before{
            height: 5px;
            top:5.7px;
            left: 3.6px;
            border-radius: 10px;
            transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);

        }
        &::after{

            height: 8px;
            top: 2.8px;
            left: 7.6px;
            border-radius: 10px;
            transform: rotate(41deg);
            -moz-transform: rotate(41deg);
            -webkit-transform: rotate(41deg);
            -o-transform: rotate(41deg);
        }
    }

    &_delivery{
        width: 40%;
        height: 60px;
        margin-left: 8rem;
        display: flex;
        align-items: center;
    }
    &_deliveryHome{
        width: 40%;
        height: 60px;
        margin-left: 2rem;
        display: flex;
        align-items: center;
    }

    &_borderGray{
        border: 1px solid $gray-darker;
    }
    &_borderOrange{
        border: 1px solid $primary;
    }
    &_chooseStore{
        background: $gray-darker;
        color: $white;
        width: calc(71% - 8rem);
        height: 45px;
        margin-left: 8rem;
        line-height: 45px;

        a{
            &:hover{
                color: $white;
            }
        }
    }
    &_Postal_code{
        margin-left: 8rem;
        width: 10%;

        .form-control{
            height:70px;
            border: none;
            border-bottom: 1px solid $gray-dark;
            color:$gray-dark;
        }
    }


    &_textArea{
        margin-left: 8rem;
        width: 60%;
        height: 200px;
        textarea{
            border: 1px solid $gray-dark;
            resize:none;
        }
        
    }
    &_BTN{
        
        color: $white;
        width: 25%;
        height:4rem;
        letter-spacing: .5rem;
        margin-left: calc(8rem + 35%); 
        &:hover{
            color: $white;
        }

    }
    &_rightSide{
        background-color: $skin-bright;
        color: $gray-darker;
        padding: 0;
        position: relative;
        .ProductCartInfo_inputTitle{
            margin:5rem 0 0 2rem;
        }

    }
    &_shoppingDetail{
        margin-left: 2rem;
    }
    &_coupon{
        width: 85%;
        position: absolute;
        top: 52rem;
    }

    &_total{
        width: 85%;
        position: absolute;
        top: 55rem;
    }
    

}
.ProductCartInfo_radioStyle:checked+.ProductCartInfo_radioStyleLabel:before,
.ProductCartInfo_radioStyle:checked+.ProductCartInfo_radioStyleLabel:after{
    opacity:1;}