@import '../../styles/custom_variables';

.user_navbar {
  margin: auto;
  height: 63px;
  width: 1320px;
  text-align: center;
  @media screen and (max-width: 576px) {
    display: none;
  }
  &_item {
    letter-spacing: 3px;
    font-size: $h5-font-size;
    color: $gray-darker;
    flex-grow: 1;
    padding: 15px;
    border-bottom: 1px solid $gray-darker;
    &:hover {
      background-color: $secondary;
      color: $skin-brighter;
    }
    &:focus {
      background-color: $secondary;
      color: $skin-brighter;
    }
  }
  &_mobile {
    display: none;
    @media screen and (max-width: 576px) {
      display: block;
    }
  }
  &_mobile_text {
    @media screen and (max-width: 576px) {
      font-size: 10px;
    }
  }
}

.user_profile_card {
  display: block;
  width: 292px;
  height: 577px;
  background-color: $skin-bright;
  @media screen and (max-width: 576px) {
    display: none;
  }
  &_img {
    object-fit: cover;
    height: 200px;
    width: 200px;
    @media screen and (max-width: 576px) {
      height: 50px;
      width: 50px;
    }
  }
  &_btn {
    width: 120px;
    color: $gray-darker;
    border: none;
    letter-spacing: 3px;
    font-size: $h5-font-size;
    &:hover {
      background-color: $secondary;
      color: $skin-brighter;
    }
  }
  &_logout_btn {
    width: 240px;
    height: 44px;
    color: $skin-brighter;
    border: none;
    letter-spacing: 3px;
    font-size: $h5-font-size;
    background-color: $primary;
      &:hover {
        background-color: $secondary;
        color: $skin-brighter;
      }
    @media screen and (max-width: 576px) {
      width: 120px;
      height: 40px;
      font-size: $h6-font-size;
      }
    }
  &_mobile {
    display: none;
    @media screen and (max-width: 576px) {
      display: block;
    }
  }
}

.user_account_inputBirth .react-datepicker__triangle {
  display: none;
}
.user_account_inputBirth .react-datepicker-wrapper {
  padding: 0 !important;
}
.user_account_inputBirth .react-datepicker__tab-loop {
  padding: 0 !important;
}
.user_account_inputBirth .react-datepicker__day--selected{
  background-color: $primary;
}

.user_account {
  @media screen and (max-width: 576px) {
    margin: 0px !important;
  }
  &_from {
    width: 950px;
    height: 577px;
    background-color: $skin-bright;
    @media screen and (max-width: 576px) {
      width: 500px;
      background-color: $skin-brighter;
    }
  }
  &_table {
    border-color: $skin-bright !important;
    @media screen and (max-width: 576px) {
      text-align: start !important;
      border-bottom: 1px solid $skin-brighter !important;
      margin: 0;
      padding: 0;
    }
  }
  &_title {
    width: 800px;
    color: $gray-darker;
    letter-spacing: 3px;
    border-bottom: 1px solid $gray-darker;
    padding-bottom: 10px;
    display:block;
    margin: 0 auto 15px ;
    padding-top: 2rem;
    @media screen and (max-width: 576px) {
      width: 480px;
      margin: 0;
      padding: 0;
      padding-bottom: 10px;
    }
    
  }
  &_header {
    width: 300px;
    color: $gray-darker;
    letter-spacing: 3px;
    padding: 50px;
    @media screen and (max-width: 576px) {
      text-align: start !important;
      border-bottom: 1px solid $skin-brighter !important;
      width: 150px;
      margin: 0;
      padding: 10px !important;
    }
  }
  &_mdHeader {
    @media screen and (max-width: 576px) {
      padding: 16px !important;
    }
  }
  &_text {
    color: $gray-darker;
    letter-spacing: 3px;
    @media screen and (max-width: 576px) {
      text-align: start !important;
      border-bottom: 1px solid $skin-brighter !important;
      width: 350px;
      margin: 0px;
      padding-left: 16px !important;
    }
  }
  &_edit_show {
    border: none;
    color: $gray-darker;
    padding: 0px 0px 0px 10px;
    &:hover {
      color: $secondary;
      border: none;
    }
    &:active {
      border: none;
    }
  }
  &_btn {
    width: 120px;
    border: 1px solid $gray-darker;
    letter-spacing: 3px;
    font-size: $h6-font-size;
    color: $gray-darker;
    background-color: $skin-bright !important;
    &:hover {
      background-color: $primary !important;
      color: $skin-bright;
      border: 1px solid $primary ;
    }
    &:active {
      background-color: $primary !important;
      color: $skin-bright;
      border: 1px solid $primary ;
    }
  }
  &_input {
    width: 350px;
    background-color: $skin-brighter !important;
    color: $gray-darker;
    letter-spacing: 3px;
  }
  &_inputBirth {
    width: 350px;
    background-color: $skin-brighter !important;
    border: none;
    height: 42px;
    color: $dark;
    &:focus {
      outline: none;
    }
  }
  &_editCheck_btn {
    width: 130px;
    height: 40px;
    color: $skin-brighter;
    border: none;
    letter-spacing: 3px;
    font-size: $h6-font-size;
    background-color: $primary;
    &:hover {
      background-color: $secondary;
      color: $skin-brighter;
    }
  }
}

.user_password {
  position: absolute;
  top: 50%;  
  left: 50%;
  transform: translate(-50%, -50%);
  @media screen and (max-width: 576px){
    background-color: $skin-bright;
    width: 490px;
    transform: translate(-50%, -50%);
  }
  &_card {
    display: flex;
    position: absolute;
    top: 65%;  
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 600px;
    height: 300px;
    background-color: $skin-brighter;
    box-shadow :  10px 10px 15px rgba(129, 129, 129, 0.082);
    @media screen and (max-width: 576px){
      background-color: $skin-bright;
      width: 490px;
      transform: translate(-62%, -50%);
    }
  }
  &_update {
    color: $gray-darker;
    width: 100px;
    margin: 0;
  }
  &_input {
    width: 250px;
    background-color: $skin-brighter;
  }
  &_btn {
    width: 130px;
    height: 40px;
    color: $skin-brighter;
    border: none;
    letter-spacing: 3px;
    font-size: $h6-font-size;
    background-color: $primary;
    &:hover {
      background-color: $secondary-dark !important;
      color: $skin-brighter !important;
    }
    &:active {
      background-color: $secondary-dark !important;
      color: $skin-brighter !important;
      outline: none !important;
      box-shadow:none !important;
    }
    // &:focus {
    //   border: none !important;
    //   outline: none !important;
    //   box-shadow: none !important;
    // }
  }
  &_show {
    width: 50px;
    border: none;
    color: $secondary-dark;
  }
}

.user_orders {
  &_form {
    height: 577px;
    width: 950px;
    background-color: $skin-bright;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }
  &_btn {
    width: 120px;
    border: 1px solid $gray-darker;
    letter-spacing: 3px;
    font-size: $h6-font-size;
    color: $gray-darker;
    background-color: $skin-bright !important;
    &:hover {
      background-color: $primary !important;
      color: $skin-bright;
      border: 1px solid $primary;
    }
    &:focus {
      background-color: $primary !important;
      color: $skin-bright;
      border: 1px solid $primary;
    }
  }
  &_header {
    color: $gray-darker;
    letter-spacing: 3px;
    padding: 15px;
  }
  &_date {
    text-align: center;
    width: 120px;
    background-color: $skin-bright !important;
    border: 1px solid $gray-darker;
    height: 30px;
    color: $gray-darker;
    &:focus {
      outline: none;
    }
  }
  &_dateBtn {
    border: 2px solid $gray-dark !important;
    width: 100px;
    border: 1px solid $gray-darker;
    letter-spacing: 3px;
    font-size: $h6-font-size;
    color: $skin-bright;
    background-color: $gray-dark !important;
    &:hover {
      background-color: $primary !important;
      color: $skin-bright;
      border: 2px solid $primary !important;
    }
  }
  &_table {
    color: $gray-darker;
    border-top: 1px solid $gray-darker;
    border-bottom: 1px solid $gray-darker;
    letter-spacing: 3px;
  }
  &_pages {
    transform: translate(-50%, -50%);
  }
  &_link {
    color: $primary;
    &:hover {
      color: $secondary-dark;
    }
  }
  &_text {
    color: $gray-darker;
    letter-spacing: 3px;
  }
}

.user_scroll::-webkit-scrollbar {
  width: 1em;
}
.user_scroll::-webkit-scrollbar-button{
  background: $skin-bright;
}
.user_scroll::-webkit-scrollbar-track-piece{
  background: $skin-bright;
}
.user_scroll::-webkit-scrollbar-thumb {
  background-color: #5f5c514f;
}

.user_pages {
  padding: 0;
  margin: 0;
  display: inline-block;
  color: $dark;
  list-style-type: none;
  &_page {
    margin: 3px;
    width: 25px;
    height: 25px;
    &:hover {
      background-color: $dark;
      color: $skin-bright;
      border-radius: 50%;
    }
  }
  &_icon {
    margin: 3px;
    width: 25px;
    height: 25px;
    &:hover {
      background-color: $dark;
      border-radius: 50%;
      color: $skin-bright;
    }
  }
}

.user_order_details {
  &_title {
    border-bottom: 1px solid $gray-darker;
    padding-bottom: 8px;
  }
  &_form {
    // height: 577px;
    width: 950px;
    background-color: $skin-bright;
    color: $gray-darker;
  }
  &_link {
    background-color: $skin-bright;
    border: $skin-bright;
    color: $gray-darker;
      &:hover {
        color: $secondary-dark !important;
        background-color: $skin-bright !important;
        border: $skin-bright !important;
      }
      &:focus {
        color: $secondary-dark !important;
        background-color: $skin-bright !important;
        border: $skin-bright;
        outline: none;
        box-shadow:none;
      }
      &:active:focus  {
        color: $secondary-dark;
        background-color: $skin-bright;
        border: $skin-bright;
        outline: none;
        box-shadow:none;
      }
  }
  &_table {
    width: 850px;
    color: $gray-darker ;
    border-bottom: $skin-bright !important;
  }
}

.user_order_list {
  &_table {
    width: 850px;
    color: $gray-darker;
    border-bottom: 1px solid $gray-darker;
  }
  &_pay {
    width: 250px;
    color: $gray-darker;
    border-bottom: $skin-bright !important;
    // background-color: $skin-bright !important;
  }
  &_img {
    width: 80px;
  }
}

.user_coupon {
  &_form {
    height: 577px;
    width: 950px;
    background-color: $skin-bright;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }
  &_sticky {
    background-color: $skin-bright;
  }
  &_stickyBox {
    height: 30px;
    background-color: $skin-bright;
  }
  &_row {
    width: 850px;
  }
  &_card {
    height: 180px;
    color: $gray-darker;
    background-color: $skin-brighter;
  }
  &_img {
    width: 150px;
  }
  img {
    width: 100%;
    height: auto;  
  }
  &_text {
    width: 220px;
  }
  &_title {
    color: $gray-darker;
    letter-spacing: 3px;
  }
}

.user_likes {
  &_form {
    height: 577px;
    width: 950px;
    background-color: $skin-bright;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
    position: relative;
  }
  &_sticky {
    background-color: $skin-bright;
    z-index: 2;
    position: relative;
  }
  &_bottom {
    z-index: -1;
    position: absolute;
  }
  &_table {
    width: 850px;
    color: $gray-darker;
    border-top: 1px solid $gray-darker;
    border-bottom: 1px solid $gray-darker;
    letter-spacing: 3px;
  }
  &_blogTitle {
    max-width: 350px;
  }
  &_ellipsis {
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $primary !important;
    }
}

.user_like {
  width: 900px;
  &_card {
    width: 150px;
   &_swiper {
    max-width: 100%;
    height: 150px;
   }
  }
  &_card_favorite{  
    width: 2rem;
    height: 2rem;
  }
  &_text {
    color: $gray-darker;
    letter-spacing: 3px;
  }
  &_none {
    width: 950px;
  }
}
.Swiperslide{    
  img{
    width: 100%;
    height: auto;      
  }
}

.user_like_card .swiper-button-prev::after,
.user_like_card .swiper-button-next::after {
  font-size: 1.5rem;
}

.user_page_number {
  color: $gray-darker;
  &:hover{
    color:white;
    background-color: $secondary;
    border-radius: 50% !important;
  }
}

.user_blogs {
  &_form {
    width: 950px;
    height: 577px;
    background-color: $skin-bright;
    color: $gray-darker;
    overflow-y: auto;
    overflow-x: hidden;
 }
 &_newBtn {
  width: 120px;
  border: 1px solid $gray-darker;
  letter-spacing: 3px;
  font-size: $h6-font-size;
  color: $gray-darker;
  background-color: $skin-bright !important;
  &:hover {
    background-color: $primary !important;
    color: $skin-bright;
    border: 1px solid $primary;
  }
 }
  &_link {
    color: $gray-darker;
 }
  &_btn {
    padding: 0 8px;
    border: none;
    &:hover {
      color: $secondary;
      border: none;
    }
    &:active {
      border: none;
    }
  }
  &_table {
      width: 850px;
      color: $gray-darker;
      letter-spacing: 3px;
      border-bottom: 1px solid $gray-darker;
  }
  &_eyeBtn {
    background-color: $skin-bright;
    border: none;
    &:hover {
      background-color: $skin-bright !important;
      border: none !important;
    }
    &:active {
      border: none !important;
      background-color: $skin-bright !important;
      outline: none !important;
      box-shadow:none !important;
    }
    &:focus {
      border: none !important;
      background-color: $skin-bright !important;
      outline: none !important;
      box-shadow:none !important;
    }
  }
}
