@import '../../../styles/custom_variables';

.CourseCartInfo_logoBox{
    background-color: $skin-brighter;

    padding: 1rem 2rem 3rem 2rem;
    img{
        width: 11rem;
    }
}

.CourseCartInfo{

    &_rightSide{
        background-color: $skin-bright;
        color: $gray-darker;
        padding: 0;
        position: relative;
        .CourseCartInfo_inputTitle{
            margin:5rem 0 0 2rem;
        }

    }
    &_previous_page{

        button{
            color: $gray-darker;
            font-size: 1.1rem;
            font-weight: 700;
            border: none;
            background: none;
            &:hover{
                color:$primary!important;
                background: none!important;
            }
        }

    }
    &_arrow{
        padding-left: 3.5rem;
        padding-right: .5rem;

    }
    &_inputBox{
        color: $gray-darker;
        padding-left: 3rem;

    }

    &_inputTitle{
        font-weight: 900;

    }
    &_input{
        margin-left: 8rem;
        width: 60%;

        .form-control{
            height:70px;
            border: none;
            border-bottom: 1px solid $gray-dark;
            color:$gray-dark;
        }
    }



    &_inputNotic{
        padding-left: 12px;
        font-size: .8rem;
        letter-spacing: .05rem;
    }

    &_textArea{
        margin-left: 8rem;
        width: 60%;
        height: 200px;
        textarea{
            border: 1px solid $gray-dark;
            resize:none;
        }
        
    }
    &_BTN{
        
        color: $white;
        width: 25%;
        height:4rem;
        letter-spacing: .5rem;
        margin-left: calc(8rem + 35%); 
        &:hover{
            color: $white;
        }

    }
    &_shoppingDetail{
        margin-left: 2rem;
    }
    &_coupon{
        width: 85%;
        position: absolute;
        bottom: 15rem;
    }

    &_total{
        width: 85%;
        position: absolute;
        bottom: 13rem;
    }
 
}


