@import '../../../styles/custom_variables';

.filter{
    width: 265px;
    color: $gray-darker;

    .filter_title{
        font-size: $h5-font-size;
        font-weight: 600;
        border-bottom: 3px solid $gray-darker;
        padding: 5px;
        letter-spacing: 3px;
    }
    .filter_category{
        font-size: 18px;
        margin: 10px 0 5px 15px;
        display: flex;
    }
    .filter_stores{
        font-size: $h6-font-size;
        margin: 5px 35px;
    }
    .filter_input{
        margin:5px;
    }
    .filter_times{
        padding: 10px 0;
    }
    .filter_time{
        font-size: $h6-font-size;
        margin: 5px 15px;
    }
}


    
    

