@import url(https://fonts.google.com/noto/specimen/Noto+Sans+TC?query=Not);
/* @import '../styles/custom_variables'; */
.Frame{
  margin: 0 auto;
  background:  #F4EEE8;
  border: 10px solid #ffffff;
  border-radius: 20px;
  max-width:1300px;
  margin-top:57px
}
.border{
  border-radius:20 solid #ffffff  !important;
  border: transparent !important;
}
h1 {
  font-family: 'Share Tech Mono', monospace;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.2em;
  font-weight: bold;
  color: #5f5c51;
  margin-top: 40px;
}
img {
  margin-right: 141px;
  
}
.AccountInput {
  margin-top: 3em;
  width: 352px;
  height: 57.72px;
  border: 2px solid #5f5c51;
  border-radius: 10px;
  padding: 0.75rem;
  /* text-align:initial; */
}
.PasswordInput {
  margin-top: 36px;
  width: 352px;
  height: 57.72px;
  border: 2px solid #5f5c51;
  border-radius: 10px;
  margin-bottom: 18px;
  padding: 0.75rem;
}
::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  padding-left: 1em;
}
Form {
  position: relative;
  max-width: auto;
}
.ForgetPassword {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  color: #5f5c51;
  text-align: right;
  position: absolute;
  right: 0%;
}
.Login {
  margin-top: 35.79px;
  width: 352px;
  height: 57.72px;
  background: #e77656;
  border-radius: 10px;
  color: #ffffff;
}
.SignUp {
  margin-top: 36px;
  width: 352px;
  height: 57.72px;
  background: #5f5c51;
  border-radius: 10px;
  color: #ffffff;
}
h4 {
  margin-top: 38.75px;
}
.icon{
  size: 20px;
  margin-left: 6.85em;
  margin-top: 18px;
  margin-bottom: 35px;
 }

@media screen and (max-width: 576px) {
  img {
    display: none;
  }
  Frame{
    width: 100%;
  }
  .footerLogin{
    margin-top: 27px;
  }
   
}