@import url(https://fonts.google.com/noto/specimen/Noto+Sans+TC?query=Not);
/* @import '../styles/custom_variables'; */
.Frame {
  margin: 0 auto;
  background: #f4eee8;
  border: 10px solid #ffffff;
  border-radius: 20px;
  max-width: 1300px;
  margin-top: 57px;
}
.border {
  border-radius: 20px solid #ffffff !important;
  border: transparent !important;
}
Form {
  margin-top: 20px;
  position: relative;
  max-width: auto;
}
.LoginTitle{
  font-family: 'Share Tech Mono', monospace;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.2em;
  font-weight: bold;
  color: #5f5c51;
  margin-top: 88px;
}
.LoginPic {
  margin-top:68px;
  width: 610px;
  height: 611px;
  margin-right: 138px;
  margin-top: 104px;
  margin-bottom: 69.74px;
}
.AccountInput {
  margin-top: 2em;
  width: 352px;
  height: 57.72px;
  border: 2px solid #5f5c51;
  border-radius: 10px;
  padding: 0.75rem;
  background: #f4eee8;
}
.PasswordInput {
  margin-top: 36px;
  width: 352px;
  height: 57.72px;
  border: 2px solid #5f5c51;
  border-radius: 10px;
  margin-bottom: 18px;
  background: #f4eee8;
  padding: 0.75rem;
}
input::placeholder {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  padding-left: 0.1em;
  color: #5f5c51;

}

.ForgetPassword {
  font-family: 'Noto Sans TC', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  color: #5f5c51;
  text-align: right;
  position: absolute;
  right: 0%;
}
.Login {
  margin-top: 35.79px;
  width: 352px;
  height: 57.72px;
  background: #e77656;
  border-radius: 10px;
  border: #e77656;
  color: #ffffff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.3em;
}
.SignUp {
  margin-top: 36px;
  width: 352px;
  height: 57.72px;
  background: #5f5c51;
  border-radius: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.3em;
  color: #ffffff;
  border: #5f5c51;
}
.footerLogin {
  margin-top: 38.75px;
  color: #5f5c51;
  font-family: 'Noto Sans TC', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
}
.icon {
  size: 20px;
  margin-left: 6.85em;
  margin-top: 18px;
  margin-bottom: 35px;
}
@media screen and (max-width: 576px) {
  img {
    display: none;
  }
  Frame {
    width: 100%;
  }
  .footerLogin {
    margin-top: 27px;
  }
}
