@import '../../styles/custom_variables';

// ===== pic =====
.detail_swiperL{
    // margin-left: 20px;
    &_pic{
        width: 150px;
        height: 150px;
    }
    .swiper{
        width: 150px;
        height: 480px 
    }
    .swiper-slide{
        width: 150px;
        height: 160px !important ;
    }
    .swiper-slide-thumb-active {
        height: 160px !important ;
        img{
            opacity: .5;
        }
    }
}
.detail_swiperR{
    &_pic{
        width: 470px;
        height: 470px;
    }
    .swiper {
        width: 470px;
    }

}

// ===== intro =====
.detail_store{
    font-size: 14px;
    color: $gray-darker;
    margin: 20px 0 10px 3px;
    
}

.detail_name{
    font-size: 30px;
    color: $gray-darker;
    font-weight: 900;
    margin-bottom: 10px;
}
.detail_price{
    color: $primary;
    font-weight: 900;
    margin: 0 0 10px 3px;
}

.detail_score{

    &_title{
        font-size: 14px;
        color: $gray-darker;
    }
    &_number{
        color: $primary;
        font-weight: 900;
        margin: 0 0 10px 3px;
    }
}

.detail_intro{
    width: 900px;
    color: $gray-darker;
    font-size: 14px;
    margin: 10px auto ;
    line-height: 25px;

}
.detail_border_top{
    border-top: 1px solid  $gray-darker;
    margin-bottom: 10px;
}

