@import '../../styles/custom_variables';

.detail_swiperL{
    // margin-left: 20px;
    &_pic{
        width: 150px;
        height: 150px;
    }
    .swiper{
        width: 150px;
        height: 480px 
    }
    .swiper-slide{
        width: 150px;
        height: 160px !important
    }
    .swiper-slide-thumb-active{
        height: 160px !important

    }
}
.detail_swiperR{
    &_pic{
        width: 470px;
        height: 470px;
    }
    .swiper {
        width: 470px;
    }

}
.test{
    width: 800px;
    word-break: break-all;
}