@import '../../styles/custom_variables';

.filter {
  position: relative;
  width: 250px;
  .filter_price_title {
    font-size: $h5-font-size;
    font-weight: 600;
    border-bottom: 3px solid $gray-darker;
    padding: 5px;
    letter-spacing: 3px;
  }
  .slider {
    position: relative;
    z-index: 1;
    height: 10px;
    margin: 0 10px;

    .track {
      position: absolute;
      z-index: 1;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 5px;
      background-color: $skin-brighter;
      border: 1px solid $gray-dark;
    }

    .range {
      position: absolute;
      z-index: 2;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 5px;
      background: linear-gradient(90deg, #ffbf60, $primary);
    }

    .thumb {
      position: absolute;
      z-index: 3;
      width: 25px;
      height: 25px;
      background-color: $white;
      border: 1px solid $gray-dark;
      border-radius: 50%;
    }

    .thumb.left {
      left: 0;
      transform: translate(-15px, -8px);
    }

    .thumb.right {
      right: 0;
      transform: translate(15px, -8px);
    }
  }

  & input[type='range'] {
    position: absolute;
    -webkit-appearance: none;
    pointer-events: none;
    z-index: 2;
    height: 10px;
    width: 100%;
    opacity: 0;
  }

  & input[type='range']::-webkit-slider-thumb {
    pointer-events: all;
    width: 30px;
    height: 30px;
    border-radius: 0;
    border: 0 none;
    background-color: #fff;
    -webkit-appearance: none;
  }
}

@media screen and (max-width: 767px) {
  .filter {
    .filter_price_title {
      border-bottom: 2px solid $gray-dark;  
      width: 90%;
      margin: auto;
      color: $gray-dark;
    }
  }
  .filter_price {
    width: 80%;
    margin: auto;
    & input[type='range'] {
      width: 80%;
    }
  }
}
