@import '../../styles/custom_variables';
.home_hot_title{
    display: inline-block;
    width: 160px;
    padding: 10px;
    margin: 0 auto 50px;
    letter-spacing: 5px;
    text-align: center;
    border-bottom: 2px $gray-darker solid;
    color: $gray-darker;
    font-weight: 600;

}
.home_hotCard{
    width: 420px;
    height: 610px;
    margin-bottom: 0px;

    &_pic{
        display: inline-block;
        width: 360px;
        height: 360px;
    }
    &_name{
        margin: 20px 0 10px 0;
        color: $gray-darker;
        font-weight: 600;
    }
    &_text{
        margin-bottom: 10px;
        color: $gray-darker;
        font-size: 14px;
    }
    &_button{
        width: 120px;
        height: 40px;
        background-color: $secondary;
        border: none;
        border-radius: 10px;
        color: $white;
        margin-top: 5px;
        line-height: 20px;
        
    }
    
    &_button:hover{
        background-color: $secondary-dark;
        color: $white;

    }

    &_button:focus{
        background-color: $secondary;
        color: $white;
        outline: none;
        box-shadow:none;
    }
    
    &_button:active:focus{
        background-color: $secondary-dark;
        color: $white;
        outline: none;
        box-shadow:none;
    }
}
.home_card{
    height: 550px;
    .swiper-button-prev, .swiper-button-next{
        cursor: default;
    }
    .swiper-button-prev::after,
    .swiper-button-next::after {
        position: relative;
        bottom: 110px;
    }
}

@media screen and (max-width:576px){
    
    .home_hotSwiper{
        margin: 0 200px;
    }

}
