@import '../../styles/custom_variables';

.bot-switch {
  position: fixed;
  width: 3rem;
  height: 3rem;
  bottom: 2.5rem;
  left: 1rem;
  background: $gray-light;
  z-index: 999;
  border-radius: 50%;
  opacity: 1;

  &_times {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    font-size: 1.3rem;
  }
  &:hover {
    transition: transform 2s all ease-in-out;
    opacity: 0.9;
  }
}

.react-chatbot-kit-chat-container {
  position: fixed;
  width: 350px;
  height: 500px;
  bottom: 6rem;
  left: 3rem;
  background: $white;
  z-index: 999;
  border-radius: 0.5rem;
}

.react-chatbot-kit-chat-inner-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 80%;
  margin: 1rem;
}

.react-chatbot-kit-chat-header {
  font-weight: 500;
  font-size: $h5-font-size;
  text-align: center;
  color: $dark;
}

.react-chatbot-kit-chat-input-container {
  position: absolute;
  bottom: 1rem;
  width: 90%;
}

.react-chatbot-kit-chat-message-container {
  overflow-y: scroll;
  &::-webkit-scrollbar {
    height: 90%;
    width: 10px !important;
  }

  /* 網頁捲軸【背景】顏色 */
  &::-webkit-scrollbar-track {
    background: $skin-brighter !important;
  }

  /* 網頁捲軸【把手】顏色 */
  &::-webkit-scrollbar-thumb {
    background: $skin-bright !important;
  }

  /* 網頁捲軸【滑過時】把手的顏色 */
  &::-webkit-scrollbar-thumb:hover {
    background: $secondary !important;
  }
}

.react-chatbot-kit-chat-input {
  background: #f4eee8;
  border: none;
  border-radius: 5px;
  width: 89%;
  &:focus,
  &:active {
    border: 1px solid $skin-brighter;
  }
}

.react-chatbot-kit-chat-input-form {
  display: flex;
  justify-content: space-between;
  &:focus,
  &:active {
    border: 1px solid $skin-brighter;
  }
}

.react-chatbot-kit-chat-input::placeholder {
  padding: 10px;
  color: $gray-dark;
  font-size: 16px;
}

.react-chatbot-kit-chat-btn-send {
  width: 10%;
  border: none;
  border-radius: 5px;
}

.react-chatbot-kit-chat-btn-send-icon {
  color: $skin-brighter;
}

.react-chatbot-kit-chat-bot-message-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
  margin-top: 0.7rem;
  align-items: center;
}

.react-chatbot-kit-chat-bot-avatar-container {
  background-image: url('../../assets/mao.jpg');
  border-radius: 50%;
  width: 30px;
  height: 30px;
  resize: both;
  border: 1px solid $dark;
  background-size: cover;
}
.react-chatbot-kit-user-avatar {
  width: 20px;
  height: 20px;
}

.react-chatbot-kit-chat-bot-avatar-letter {
  color: $white;
  width: 30px;
  height: 30px;
}
.react-chatbot-kit-user-chat-message-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  margin-bottom: 2.5rem;
  margin-right: 10px;
}
.react-chatbot-kit-user-chat-message {
  position: absolute;
  bottom: -15px;
  right: 35px;
  background: $skin-brighter;
  padding: 2px;
  border-radius: 4px;
  padding-left: 5px;
}

.options {
  padding-bottom: 15px;
}

.options-header {
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.option-item {
  position: relative;
  padding: 8px 15px;
  border: 1px solid $skin-bright;
  border-radius: 25px;
  color: $dark;
  font-size: 0.9rem;
  margin: 3px;
  background: $skin-brighter;
  &::after {
    content: '';
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: all 0.4s;
  }
  cursor: pointer;

  &:hover {
    z-index: 1;
    color: $white;
    &::after {
      color: $white;
      width: 100%;
      background: $secondary;
      z-index: -1;
    }
  }
}

.bot-widgets {
  &-showNow_img {
    width: 70px;
    height: 70px;
  }
}
