@import '../../styles/custom_variables';

.chat {
  &_wrapper {
    z-index: 20;
  }

  &_body {
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 10px;
    }

    /* 網頁捲軸【背景】顏色 */
    &::-webkit-scrollbar-track {
      background: $skin-bright;
    }

    /* 網頁捲軸【把手】顏色 */
    &::-webkit-scrollbar-thumb {
      background: $skin-brighter;
    }

    /* 網頁捲軸【滑過時】把手的顏色 */
    &::-webkit-scrollbar-thumb:hover {
      background: $skin-dark;
    }
    min-height: 500px;
    @media (min-width: 576px) {
      max-height: 400px;
    }
    &_text-others {
      position: relative;
      transform: translate(0, 10px);
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 25px 10px 0;
        border-color: transparent #fff transparent transparent;
        transform: translate(-60%, -10%) skew(35deg, 20deg);
      }
    }
    &_text-self {
      position: relative;
      transform: translate(0, 10px);
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 0 10px 20px;
        border-color: transparent transparent transparent #fff;

        transform: translate(60%, 0) skew(-35deg, -20deg);
      }
    }
  }
}

.chat_amount {
  width: 25px;
  height: 25px;
  position: relative;
}

.chat_avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.chat-room {
  opacity: 1;
  transform: scale(1);
  position: relative;

  &_img {
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      // width: 90%;
      // height: 90%;
      background: #ccc;
      transform: translate(-50%, -50%);
    }
  }

  &_img:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  &_text {
    color: $dark;
  }
  &_text:hover {
    cursor: pointer;
    color: $gray-dark;
  }
}

.chat_transition {
  transform: scale(5) translate(50%, 50%);
  transition: all 1s;
}
