@import '../../styles/custom_variables';

.blog_banner {
  max-height: 450px;

  @media (min-width: 576px) {
    max-height: 400px;
  }

  @media (min-width: 768px) {
    max-height: 600px;
  }

  &_img {
    max-height: 300px;
    object-fit: cover;
    @media (min-width: 576px) {
      max-height: 400px;
    }
    @media (min-width: 768px) {
      height: 100%;
    }
  }
  &_text {
    letter-spacing: 2rem;
    line-height: 2;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: $white;
}

.blog_list {
  &_btn {
    position: relative;
    &::after {
      content: '';
      display: block;
      width: 0;
      height: 4px;
      background-color: $gray-dark;
      position: absolute;
      right: 0;
      transition: 0.4s;
    }
    &:hover {
      color: $white;
      &::after {
        width: 100%;
        left: 0;
      }
    }
  }
  &_img {
    width: 250px;
  }

  &_content {
    letter-spacing: 3px;
  }
  &_title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
  }
  &_item {
    max-width: 100%;
    @media (min-width: 1040px) {
      max-width: 75%;
    }
  }
}
.text-cut {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user_image {
  width: 32px;
  height: 32px;
}

.blog_comment_link:hover {
  color: $white !important;
}

.blog_swiper_opacity {
  &::after {
    content: '';
    z-index: 99;
    background: red;
    width: 100%;
    height: 100%;
  }
}

