@import '../../styles/custom_variables';

.blog_banner {
  height: 600px;
  background: $skin-bright;
  &_img {
    max-height: 600px;
  }
  &_text {
    letter-spacing: 2rem;
    line-height: 2;
  }
}
.blog_list {
  &_btn {
    position: relative;
    &::after {
      content: '';
      display: block;
      width: 0;
      height: 4px;
      background-color: $gray-dark;
      position: absolute;
      right: 0;
      transition: 0.4s;
    }
    &:hover {
      color: $white;
      &::after {
        width: 100%;
        left: 0;
      }
    }
  }
  &_img {
    width: 250px;
  }

  &_content {
    letter-spacing: 3px;
  }
}
