.banner {
  height: 500px;
  background: #ccc;
  &-item {
  }
  &-img {
    object-fit: fill;
    max-height: 400px;
    width: 100%;
  }
}
.blog {
  // blog_list_item_btn
  &_list {
    display: flex;
    &_item {
      &_btn {
        margin: 10px;
      }
    }
  }
}
.blog {
}
.blog_list_item_btn {
}
