@import '../../../styles/custom_variables';

.CheckoutPage{
  &_leftBox{
    color: $gray-darker;
    padding-left: 5rem;
    height: 700px;
    position: relative;

  }

  &_title{
  font-weight: 900;
  letter-spacing: .1rem;
  }

  &_note{
    width: 50%;
    margin-right: 2rem;
  }

  &_BTN{
  color: $white;
  width: 25%;
  height: 65px;
  background: $gray-darker;
  line-height: 65px;
  &:hover{
    color: $white;
    background: $primary;
  }
  }
  &_noteBox{
    position: absolute;
    width: 100%;
    bottom: 10%;
  }
  &_rightSide{
    background-color: $skin-bright;
    color: $gray-darker;
    padding: 0;
    position: relative;
    .CheckoutPage_title{
      margin:5rem 0 0 2rem;
    }
    div{
      margin-left: 2rem;
    }
  }
  &_detailHr{
    border-bottom: 2px solid $gray-darker;
  }

  &_coupon{
    width: 85%;
    position: absolute;
    bottom: 6rem;
  }
  &_total{
    width: 85%;
    position: absolute;
    bottom: 4rem;
  }

  &_calendar{
    position: relative;
    color: $gray-darker;
    background: none;
    border: none;
    &:hover{
      background: none !important;
      color: $primary !important;
    }
    &:hover::before{
      position: absolute;
      top: -35px;
      left: 0;
      content:'加入到行事曆';
      font-size:.8rem;
    }


.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
  color: $gray-darker;
  background-color: none;
  border-color: none;
}
  }
}