@import '../../styles/custom_variables';
.map {
  height: 100vh;
  width: 100%;
}
//important
.leaflet-container {
  width: 100%;
  height: 100%;
}
.map_storeCard {
  height: 100%;
  color: $gray-darker;
  background-color: $skin-brighter;
  border: none;
  border-radius: 0;

  &:hover {
    background-color: rgba(238, 237, 237, 0.89);
    color: $dark;
  }
  &:active {
    color: $gray-darker;
  }
  img {
    width: 150px;
    height: 150px;
  }
  a {
    color: $secondary;
    &:hover {
      color: $primary;
    }
  }
  .card-text {
    margin-bottom: 0;
  }
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}
.map_Sidebar {
  height: 100vh;
  width: 568px;
  overflow-y: scroll;
}
.mapSearchBar {
  width: 100%;
  height: 3rem;
  background-color: $secondary;
}
.map_container {
  margin: 50px 80px;
}
.mapSearchBar_shrink {
  position: sticky;
  top: 152px;
  left: 0;
  z-index: 911;
  box-shadow: 5px 5px 15px -5px $skin-bright;
}
@media screen and (max-width: 768px) {
  .map {
    width: 100vw;
    height: 50vh;
  }
  .map_Sidebar {
    width: 100%;
    height: 100%;
    overflow-y: visible;
  }
  .line-clamp {
    -webkit-line-clamp: 3;
  }
  .map_container {
    margin: 20px 0;
  }
  .mapSearchBar_shrink {
    top: 92px;
  }
}
